<h3>トップページ</h3>


<h4>利用目的</h4>
美食ヘルスケアは、一般の方から病気、食物アレルギー・食物不耐症、苦手なものなどで食べられないものがある方まで幅広いニーズに対応し、レシピを検索・投稿できるWebサイトです。
誰でも手軽に当サイトを利用でき流ことに加え、食べられないものがある方向けに特化されており、キーワード検索に加え、人によって抱える原因や症状に合わせてレシピを検索することが可能です。
そのため、個人個人の目的に合わせて、レシピを検索したり投稿したりすることで日常生活等に役立ててください。


<h4>サイトの使い方</h4>

<h5>「当サイトで投稿されたもの」＋「外部サイトのレシピ」からレシピの検索が可能</h5>
美食ヘルスケアでは、当サイトで投稿されたレシピと外部サイト（Cookpad）のレシピ情報から豊富なレシピを検索可能です。是非、日常生活の食事レシピを考える際の参考にしたり、当サイトのレシピ投稿のアイディアにつなげたりと良い方向に活用してください！

<h5>レシピ検索の仕組み</h5>
検索できるカテゴリが「病気」「アレルギー」「苦手なもの」「その他または理由なし」の4つに別れており、自分に合った専用ページからレシピの検索が可能です。また「検索一覧」ページは、すべてのカテゴリからまとめてレシピを検索したいときに活用できるページとなっています。
また、キーワード検索とハッシュタグ検索を用いることで、以下のような絞り込み検索をすることが可能です。
・検索機能検索 → ハッシュタグ機能検索
・ハッシュタグ機能検索 → 検索機能検索

<h5>ログインが不要なものについて</h5>
レシピの検索、レシピの詳細閲覧については、ログインしなくても可能です。
また、他ユーザのマイページの一部である、他ユーザのプロフィールと投稿したものを閲覧することができます。

<h5>ログインが必要なものについて</h5>
ログインをすることで、♡のアイコンからいいね保存ができ、そのレシピをマイページから閲覧することができます。
また、レシピを投稿・編集する際にはログインが必要になります。

文字の説明だけでは分かりにくい部分もあると思うので、是非、実際に検索一覧ページに行ってレシピを検索・投稿してみてください。
<%= link_to "検索一覧", tomorecipes_path %>


<h4>宣伝メッセージ</h4>
美食ヘルスケアには、「食べられないものがある人も毎日を楽しく健康に」過ごせるようという想いを込められています。
このWebサイトを通して、豊富なレシピを手軽に検索・投稿できるようにすることで、一般の方から食物アレルギー・食物不耐症、苦手なものなどで食べられないものがある方まで、1人でも多くの人が毎日、楽しく健康な食事をして幸せに過ごせることを心より願っています。

しかし、食べられないものがある方向けに特化したレシピ検索が可能なサイトがまだないことから、外部サイトのレシピ情報のみではニーズに応えきれない部分も多数存在します。
そのため、食べられないものがある方向けの検索に特化された当サイトでの、積極的なレシピ投稿を心よりお待ちしています。

また、美食ヘルスケアは製作されたばかりでこれからさらに改良していく予定です。
当サイトが今後充実し多くの人に役立つものにしていくためにも、積極的なレシピの投稿をお待ちしています。


<h4>注意事項</h4>
ハッシュタグ検索には関連する用語をハッシュタグにしているため、正式名称ではないものが含まれる場合もあります。

人によって食べられないものはそれぞれ異なるため、代用レシピが紹介されていても、材料に食べられないものが含まれる場合があるため、レシピを活用する際は必ず事前に各自で確認してください。
 
偏った食べものを摂取しすぎると、病気やアレルギーの原因となることがあります。
バランスの良い食生活を心がけましょう！